:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--black:#000;
	--button-color:#FF6464;
	--anchor-color:#00A8CC;
	--primary-bg:#E5E5E5;
	--secondary-bg:#EDF7FA;;
	--white:#fff;
}
