:root {
	--font-body: 'Heebo', sans-serif;
	//Font Weights
	--font-para:rem(16);
	--font-weight-Para:100;

	--font-heading-desktop:rem(44);
	--font-heading-mobile:rem(32);

	--font-button-text:rem(20);
}
